<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logistic</title>
    <link href="~/css/loader.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.uikit.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/leaflet-cluster/MarkerCluster.css" />
    <link rel="stylesheet" href="~/lib/leaflet-cluster/MarkerCluster.Default.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link href="~/lib/uikit/css/uikit.css" rel="stylesheet" />
    <link href="~/lib/picker/picker.css" rel="stylesheet" />
    <link rel="stylesheet" href="@("https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css")" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
</head>
<body>
    <button id="menu-button" class="uk-button uk-button-link uk-background-secondary uk-padding-small uk-padding-remove-horizontal" type="button" uk-toggle="target: #offcanvas-slide" style="border-radius: 5px 0px 0px 5px;">
        <span uk-icon="icon: chevron-left; ratio: 1.2;"></span>
    </button>

    <div id="offcanvas-slide" uk-offcanvas="overlay: true; flip: true;">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <ul class="uk-nav uk-nav-default">
                <li class="uk-margin-bottom-small uk-hidden@l" id="fullscreen-mode-item">
                    <a id="fullscreen-mode" class="uk-padding-remove-top" href="#">
                        <span class="uk-margin-small-right" uk-icon="icon: expand"></span> Full screen
                    </a>
                </li>
                <li class="uk-nav-divider uk-hidden@l"></li>
                <li class="uk-parent">
                    <a class="menu-item uk-nav-header" data-href="@Url.Action("_FullInformation", "Bus")">
                        <span class="uk-margin-small-right" uk-icon="icon: list; ratio: 0.8;"></span>
                        Buses
                    </a>
                    <ul class="uk-nav-sub">
                        <li><a class="menu-item" data-href="@Url.Action("_FullInformation", "Bus", new { tab = BusTab.Bus })">Vehicles</a></li>
                        <li><a class="menu-item" data-href="@Url.Action("_FullInformation", "Bus", new { tab = BusTab.Vehicle })">Models</a></li>
                    </ul>
                </li>
                <li class="uk-nav-divider"></li>
                <li class="uk-parent">
                    <a class="menu-item uk-nav-header" data-href="@Url.Action("_FullInformation", "Driver")">
                        <span class="uk-margin-small-right" uk-icon="icon: happy; ratio: 0.8;"></span>
                        Drivers
                    </a>
                    <ul class="uk-nav-sub">
                        <li><a class="menu-item" data-href="@Url.Action("_FullInformation", "Driver", new { tab = DriverTab.Info })">Information</a></li>
                        <li><a class="menu-item" data-href="@Url.Action("_FullInformation", "Driver", new { tab = DriverTab.Contact })">Contacts</a></li>
                    </ul>
                </li>
                <li class="uk-nav-divider"></li>
                <li class="uk-parent" id="logistic-tab">
                    <a class="menu-item uk-nav-header" data-href="@Url.Action("_FullInformation", "Geolocation")">
                        <span class="uk-margin-small-right" uk-icon="icon: social; ratio: 0.8;"></span>
                        Logistic
                    </a>
                    <ul class="uk-nav-sub">
                        <li><a class="menu-item" data-href="@Url.Action("_FullInformation", "Geolocation", new { tab = GeolocationTab.Locations })">Locations</a></li>
                        <li><a class="menu-item" data-href="@Url.Action("_FullInformation", "Geolocation", new { tab = GeolocationTab.Cities })">Cities</a></li>
                        <li><a class="menu-item" data-href="@Url.Action("_FullInformation", "Geolocation", new { tab = GeolocationTab.Districts })">Districts</a></li>
                        <li><a class="menu-item" data-href="@Url.Action("_FullInformation", "Geolocation", new { tab = GeolocationTab.Countries })">Countries</a></li>
                    </ul>
                </li>
                <li class="uk-nav-divider"></li>
                <li class="uk-parent">
                    <a class="menu-item uk-nav-header" data-href="@Url.Action("_FullInformation", "Route")">
                        <span class="uk-margin-small-right" uk-icon="icon: location; ratio: 0.8;"></span>
                        Routes
                    </a>
                </li>
                <li class="uk-nav-divider"></li>
                <li class="uk-parent">
                    <a class="menu-item uk-nav-header" data-href="@Url.Action("_FullInformation", "Schedule")">
                        <span class="uk-margin-small-right" uk-icon="icon: calendar; ratio: 0.8;"></span>
                        Timetables
                    </a>
                </li>
                <li class="uk-nav-divider"></li>
                <li class="uk-parent">
                    <a class="menu-item uk-nav-header" data-href="@Url.Action("_FullInformation", "Trip")">
                        <span class="uk-margin-small-right" uk-icon="icon: world; ratio: 0.8;"></span>
                        Trips
                    </a>
                </li>
            </ul>
            <form class="uk-margin-small-top" asp-action="Logout" asp-controller="Account">
                <button id="logout" class="uk-button uk-button-danger uk-width-1-1" type="submit">
                    <span class="uk-margin-small-right" uk-icon="icon: sign-out; ratio: 0.8;"></span>
                    Logout
                </button>
            </form>
        </div>
    </div>

    <main class="uk-background-muted">
        <div id="map"></div>
        @RenderBody()
    </main>

    <footer>
        <button id="slide-up" class="uk-button uk-button-link uk-text-light uk-background-muted uk-margin-medium-left uk-padding-small uk-padding-remove-vertical" style="border-radius: 5px 5px 0px 0px;">
            <span uk-icon="icon: chevron-up; ratio: 1.2;"></span>
        </button>
        <div id="dragging-slider" class="uk-width-1-1 uk-text-center" style="display: none;">
            <svg width="25" height="20" viewBox="0 0 25 20" xmlns="http://www.w3.org/2000/svg">
                <rect height="1" width="25" y="8" x="1"></rect>
                <rect height="1" width="25" y="12" x="1"></rect>
            </svg>
        </div>
        <div class="uk-background-muted uk-padding-small uk-box-shadow-medium" id="slide">
            <ul class="uk-breadcrumb" id="footer-breacrumb"></ul>
            <div class="uk-text-secondary" id="footer-content">
                <div class="uk-text-center"></div>
            </div>
        </div>
    </footer>
    <div id="ui-lock"><div class="uk-position-center"><div class="lds-ripple uk-align-center"><div></div><div></div></div></div></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/js/jquery.touch.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://unpkg.com/leaflet-ant-path" type="text/javascript"></script>
    <script src="~/lib/leaflet-cluster/leaflet.markercluster.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" type="text/javascript"></script>
    <script src="~/lib/uikit/js/uikit.js"></script>
    <script src="~/lib/uikit/js/uikit-icons.js"></script>
    <script src="@("https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.es5.min.js")"></script>
    <script src="~/lib/picker/picker.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/location-popup.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
