@model LikeBusLogistic.Web.Models.Trips.FullInformationVM
@{
    RoleName roleName = (RoleName)ViewBag.RoleName;
}

<div class="uk-grid uk-grid-small">

    <div class="uk-width-1-1">
        <button class="uk-button uk-button-small uk-button-danger uk-hidden uk-float-right uk-margin-small-left" id="clean-route-button">Сбросить маршрут</button>
        @if (roleName == RoleName.Administrator || roleName == RoleName.Moderator)
        {
            <button class="uk-button uk-button-small uk-button-primary uk-float-right" id="add-trip-button">Добавить</button>
        }
    </div>

    <div class="uk-width-1-1">
        <ul uk-tab id="tabs">
            <li class="trip-tab @(Model.Tab == TripTab.AllTrips ? "uk-active" : "")"
                data-status="all">
                <a href="#">Все</a>
            </li>
            <li class="trip-tab @(Model.Tab == TripTab.StartedTrips ? "uk-active" : "")"
                data-status="started">
                <a href="#">Текущие</a>
            </li>
            <li class="trip-tab @(Model.Tab == TripTab.DelayedTrips ? "uk-active" : "")"
                data-status="delayed">
                <a href="#">Задержанные</a>
            </li>
            <li class="trip-tab @(Model.Tab == TripTab.PendingTrips ? "uk-active" : "")"
                data-status="pending">
                <a href="#">Будущие</a>
            </li>
            <li class="trip-tab @(Model.Tab == TripTab.FinishedTrips ? "uk-active" : "")"
                data-status="finished">
                <a href="#">Завершенные</a>
            </li>
            <li class="trip-tab @(Model.Tab == TripTab.CancelledTrips ? "uk-active" : "")"
                data-status="finished">
                <a href="#">Отмененные</a>
            </li>
        </ul>
        <ul class="uk-switcher uk-margin" id="tabs-content">
            <li data-content-url="@Url.Action("_Trip", "Trip", new { tab = TripTab.AllTrips })"></li>
            <li data-content-url="@Url.Action("_Trip", "Trip", new { tab = TripTab.StartedTrips })"></li>
            <li data-content-url="@Url.Action("_Trip", "Trip", new { tab = TripTab.DelayedTrips })"></li>
            <li data-content-url="@Url.Action("_Trip", "Trip", new { tab = TripTab.PendingTrips })"></li>
            <li data-content-url="@Url.Action("_Trip", "Trip", new { tab = TripTab.FinishedTrips })"></li>
            <li data-content-url="@Url.Action("_Trip", "Trip", new { tab = TripTab.CancelledTrips })"></li>
        </ul>
    </div>
</div>
<script>
    App.footer.setBreadcrumbs(null);
    App.tab.name = 'trips';
    $('#add-trip-button').click(function () {
        App.footer.getContent('@Url.Action("_MergeTrip", "Trip")');
    });
    $('#clean-route-button').click(function () {
        App.geo.route.clear();
        $('#clean-route-button').addClass('uk-hidden');
    });
    $('.trip-tab').click(function () {
        App.geo.route.clear();
        $('#clean-route-button').addClass('uk-hidden');
    });
</script>
