@model LikeBusLogistic.Web.Models.Home.LocationPopupVM

@{
    RoleName roleName = (RoleName)ViewBag.RoleName;
}

<div id="location-popup" data-location-id="@Model.Location.Id" data-route-location-id="@Model.RouteLocation?.CurrentLocationId">
    <ul class="uk-margin-remove-bottom" uk-tab>
        <li><a href="#">О локации</a></li>
        <li class="@(Model.IsRoute ? "uk-active" : "")"><a href="#">Логистика</a></li>
    </ul>
    <ul class="uk-switcher">
        <li>
            <div uk-grid>
                <div class="uk-width-1-1 uk-margin-small-bottom uk-margin-remove-top">
                    <p class="uk-text-bold">@Model.Location.Name</p>
                </div>
                <div class="uk-width-1-2 uk-margin-remove-bottom uk-margin-remove-top">
                    Широта: <span class="uk-text-bold">@Model.Location.Latitude</span>
                </div>
                <div class="uk-width-1-2 uk-margin-remove-bottom uk-margin-remove-top">
                    Долгота: <span class="uk-text-bold">@Model.Location.Longitude</span>
                </div>
                <div class="uk-width-1-1 uk-margin-remove-bottom uk-margin-remove-top">
                    @if (Model.Location.CityId.HasValue || Model.Location.CountryId.HasValue || Model.Location.DistrictId.HasValue)
                    {
                        <p class="uk-text-muted location-info">
                            @if (!string.IsNullOrWhiteSpace(Model.Location.CountryName))
                            {
                                <span>@Model.Location.CountryName</span>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.Location.DistrictName))
                            {
                                <span>@Model.Location.DistrictName</span>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.Location.CityName))
                            {
                                <span>@Model.Location.CityName</span>
                            }
                        </p>
                    }
                    else
                    {
                        <p>Данные о местоположении отсутствуют...</p>
                    }
                </div>
                <div class="uk-width-1-1 uk-margin-remove-bottom uk-margin-remove-top">
                    <a id="specialists-link" href="#specialists-modal" uk-toggle>Данные о ремонте...</a>
                </div>
                <div class="uk-width-1-1 uk-margin-remove-bottom uk-margin-small-top uk-padding-small">
                    <div class="uk-float-right" data-location-id="@Model.Location.Id">
                        @if (roleName == RoleName.Administrator || roleName == RoleName.Moderator)
                        {
                            <button class="uk-button uk-button-danger uk-button-small delete-location-icon">Удалить</button>
                        }
                        <button class="uk-button uk-button-primary uk-button-small edit-location-icon" id="popup-change-location">Изменить</button>
                    </div>
                </div>
            </div>
        </li>
        <li>
            @if (Model.Route?.Id != null)
            {
                if (Model.RouteLocation?.CurrentLocationId == null)
                {
                    <div class="uk-margin-remove-bottom uk-margin-remove-top" uk-grid>

                        <div class="uk-width-1-2 uk-margin-remove-bottom uk-margin-remove-top">
                            <p>Маршрут:</p>
                        </div>
                        <div class="uk-width-1-2 uk-margin-remove-bottom uk-margin-remove-top">
                            <p>Продолжительность:</p>
                        </div>

                        <div class="uk-width-1-2 uk-margin-remove-bottom uk-margin-remove-top">
                            <span class="uk-text-bold">@Model.Route.Name</span>
                        </div>
                        <div class="uk-width-1-2 uk-margin-remove-bottom uk-margin-remove-top">
                            <span class="uk-text-bold">@Model.Route.EstimatedDurationInHours ч.</span>
                        </div>

                        <div class="uk-button-group uk-width-1-1 uk-margin-small">
                            <button class="uk-button uk-button-small uk-button-primary uk-width-1-2"
                                    uk-tooltip="Добавить <b>ДО</b> локации. Нажмите, чтобы продолжить расширение маршрута."
                                    id="append-route-location-button">
                                <span uk-icon="icon: arrow-left; ratio: 1.5;"></span>
                            </button>
                            <button class="uk-button uk-button-small uk-button-secondary uk-width-1-2"
                                    uk-tooltip="Добавить <b>ПОСЛЕ</b> локации. Нажмите, чтобы продолжить расширение маршрута."
                                    id="prepend-route-location-button">
                                <span uk-icon="icon: arrow-right; ratio: 1.5;"></span>
                            </button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="uk-margin-remove-bottom uk-margin-remove-top" uk-grid>
                        <div class="uk-width-1-1 uk-margin-remove-bottom uk-margin-remove-top">
                            <p>Маршрут:</p>
                        </div>

                        <div class="uk-width-1-1 uk-margin-remove-bottom uk-margin-remove-top">
                            <span class="uk-text-bold">@Model.RouteLocation.RouteName</span>
                        </div>

                        @if (Model.RouteLocation?.PreviousLocationId != null)
                        {
                            <div class="uk-width-1-1 uk-margin-remove-bottom uk-margin-remove-top">
                                <p>Предыдущая локация:</p>
                            </div>
                            <div class="uk-width-1-1 uk-margin-remove-bottom uk-margin-remove-top">
                                <span class="uk-text-bold">@Model.RouteLocation.PreviousFullName</span>
                            </div>
                        }

                        <div class="uk-width-1-1 uk-margin-remove-bottom uk-margin-remove-top">
                            <p>Текущая локация:</p>
                        </div>
                        <div class="uk-width-1-1 uk-margin-remove-bottom uk-margin-remove-top">
                            <span class="uk-text-bold">@Model.RouteLocation.CurrentFullName</span>
                        </div>

                        <div class="uk-button-group uk-width-1-1 uk-margin-small">
                            <button class="uk-button uk-button-small uk-button-primary uk-width-1-3"
                                    uk-tooltip="Добавить локацию <b>ДО</b> нее. Нажмите, чтобы продолжить расширение маршрута."
                                    id="append-route-location-button">
                                <span uk-icon="icon: arrow-left; ratio: 1.5;"></span>
                            </button>
                            <button class="uk-button uk-button-small uk-button-secondary uk-width-1-3"
                                    uk-tooltip="Добавить локацию <b>ПОСЛЕ</b> нее. Нажмите, чтобы продолжить расширение маршрута."
                                    id="prepend-route-location-button">
                                <span uk-icon="icon: arrow-right; ratio: 1.5;"></span>
                            </button>
                            @if (roleName == RoleName.Administrator || roleName == RoleName.Moderator)
                            {
                                <button class="uk-button uk-button-small uk-button-danger uk-width-1-3"
                                        uk-tooltip="<b>Удалить</b> локацию."
                                        id="delete-route-location-button">
                                    <span uk-icon="icon: ban;"></span>
                                </button>
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <button class="uk-button uk-button-small uk-button-primary uk-width-1-1 uk-margin-small-top uk-margin-remove-bottom"
                        uk-tooltip="Начать новый маршрут с этой локации."
                        id="create-route-button">
                    <span uk-icon="icon: settings; ratio: 1;"></span>
                </button>
            }
        </li>
    </ul>
</div>

<div id="specialists-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Специалисты по ремонту:</h2>
        </div>
        <div class="uk-modal-body" uk-overflow-auto>

        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
            <button class="uk-button uk-button-primary" type="button">Сохранить</button>
        </div>

    </div>
</div>

<script>
    function addLocationToRoute(_popup, locationId, routeLocationId, mode, spliceHandler) {
        Swal.fire({
            title: 'Добавление',
            text: 'Нажмите на локацию, чтобы добавить в маршрут',
            icon: 'info',
            showConfirmButton: false,
            timer: 1500
        });
        const isRouteLocation = (element) => element.routeLocation.currentLocationId == locationId;
        for (let i = 0; i < App.geo.locations.length; i++) {
            App.geo.locations[i].marker.off('click').on('click', function () {
                if (routeLocationId) {
                    if (!App.geo.route.routeLocations.some(isRouteLocation)) {
                        App.message.showErrorWithOk(
                            'Ошибка',
                            'Невозможно добавить в маршрут уже добавленную ранее локацию!'
                        );
                        return;
                    }

                    var latlng = L.latLng(App.geo.locations[i].marker._latlng.lat, App.geo.locations[i].marker._latlng.lng);
                    var latlngs = App.geo.route.path.getLatLngs();
                    spliceHandler(latlngs, latlng);
                    App.geo.route.path.setLatLngs(latlngs);
                    App.footer.getContent('@Url.Action("_MergeRouteLocation", "Route")',
                    {
                        routeId: App.geo.route.id,
                        routeLocationId: locationId,
                        locationToAddId: App.geo.locations[i].data.id,
                        mode: mode
                    });
                }
                else {
                    if (App.geo.route.routeLocations.some(isRouteLocation)) {
                        App.message.showErrorWithOk(
                            'Ошибка',
                            'Локация должна быть прикреплена к локации, которая уже есть в маршруте!'
                        );
                        return;
                    }

                    let locationToAdd = App.geo.getLocationById(locationId);
                    var latlng = L.latLng(locationToAdd.marker._latlng.lat, locationToAdd.marker._latlng.lng);
                    var latlngs = App.geo.route.path.getLatLngs();
                    spliceHandler(latlngs, latlng, App.geo.locations[i].data.id);
                    App.geo.route.path.setLatLngs(latlngs);
                    App.footer.getContent('@Url.Action("_MergeRouteLocation", "Route")',
                    {
                        routeId: App.geo.route.id,
                        routeLocationId: App.geo.locations[i].data.id,
                        locationToAddId: locationId,
                        mode: mode
                    });
                }
            });
        }
        App.geo.closeAllPopups();
    }
    $('#specialists-link').click(function () {
        var id = $(this).parents('#location-popup').data('location-id');
        App.loadContent(
            '#specialists-modal div.uk-modal-body',
            '@Url.Action("_RepairSpecialistsForLocation", "Geolocation")',
            { locationId: id }
        );
    });
    $('#create-route-button,#delete-route-location-button,#append-route-location-button,#prepend-route-location-button').click(function () {
        App.geo.closeAllPopups();
    });
    $('#create-route-button').click(function () {
        App.footer.getContent('@Url.Action("_CreateRoute", "Route")',
            { startLocationId: $('#location-popup').data('location-id') });
    });
    $('#append-route-location-button').click(function () {
        let _this = $(this);
        let _popup = _this.parents('#location-popup');
        let locationId = _popup.data('location-id');
        let routeLocationId = _popup.data('route-location-id');

        const spliceHandler = (latlngs, latlng, routeLocationToAddId) => { latlngs.splice(App.geo.route.getIndexByRouteLocationId(routeLocationId || routeLocationToAddId), 0, latlng)}
        addLocationToRoute(_popup, locationId, routeLocationId, @((int)MergeRouteLocationMode.Append), spliceHandler);
    });
    $('#prepend-route-location-button').click(function () {
        let _this = $(this);
        let _popup = _this.parents('#location-popup');
        let locationId = _popup.data('location-id');
        let routeLocationId = _popup.data('route-location-id');

        const spliceHandler = (latlngs, latlng, routeLocationToAddId) => { latlngs.splice(App.geo.route.getIndexByRouteLocationId(routeLocationId || routeLocationToAddId) + 1, 0, latlng)}
        addLocationToRoute(_popup, locationId, routeLocationId, @((int)MergeRouteLocationMode.Prepend), spliceHandler);
    });
    $('#delete-route-location-button').click(function () {
        Swal.fire({
            title: 'Удаление',
            text: 'Вы уверены, что хотите удалить эту локацию из текущего маршрута?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Да',
            cancelButtonText: 'Отмена'
        }).then((result) => {
            if (result.value) {
                let _this = $(this);
                let _popup = _this.parents('#location-popup');
                let locationId = _popup.data('location-id');
                var routeId = App.geo.route.id;
                App.postDataOnServer('@Url.Action("DeleteRouteLocation", "Route")', {
                    routeId: routeId,
                    locationId: locationId
                }, () =>
                    {
                        App.geo.route.resetRouteLocations('@Url.Action("GetRouteLocations", "Route")', routeId);
                        Swal.fire({
                            title: 'Удалено',
                            text: 'Локация успешно удалена из маршрута',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }, null, 'POST');
            }
        });

    });
</script>