@model ContactsVM
@{
    RoleName roleName = (RoleName)ViewBag.RoleName;
}
<div class="uk-clearfix">
    <div class="uk-float-left">
        <h4>Контакты</h4>
    </div>
    <div class="uk-float-right">
        @if (roleName == RoleName.Administrator || roleName == RoleName.Moderator)
        {
            <button class="uk-button uk-button-small uk-button-primary" id="add-contact-button">Добавить</button>
        }
    </div>
</div>
<table class="uk-table uk-table-small uk-table-hover" id="contact-table">
    <thead>
        <tr>
            <th>Водитель</th>
            <th>Контакт</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model.Contacts)
        {
            <tr data-contact-id="@contact.Id">
                <td>@contact.DriverInfo</td>
                <td>@contact.Contact</td>
                <td class="uk-float-right tool-cell-2">
                    @if (roleName == RoleName.Administrator || roleName == RoleName.Moderator)
                    {
                        @CustomExtensions.HtmlEditIcon("uk-margin-small-right edit-contact-icon")
                    }
                    @if (roleName == RoleName.Administrator)
                    {
                        @CustomExtensions.HtmlDeleteOrRestoreIcon(contact.IsDeleted, "delete-contact-icon")
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    App.footer.setBreadcrumbs([{ name: 'Водители', url: '@Url.Action("_FullInformation", "Driver")' }, { name: 'Контакты', url: '@Url.Action("_Contacts","Driver")' }]);
    $(document).ready(function () {
        App.customDataTable('#contact-table');
        $('.edit-contact-icon').click(function () {
            var id = $(this).parents('tr').data('contact-id');
            App.footer.getContent('@Url.Action("_MergeContact", "Driver")', { contactId: id });
        });
        $('.delete-contact-icon').click(function () {
            var id = $(this).parents('tr').data('contact-id');
            App.postDataOnServer('@Url.Action("DeleteOrRestoreContact", "Driver")', { contactId: id }, function (result) {
                App.message.showSuccessWithOk('Успешно', result.message || 'Контакт успешно удалена!');
                App.footer.getContent('@Url.Action("_FullInformation", "Driver", new { tab = DriverTab.Contact })');
            });
        });
        $('#add-contact-button').click(function () {
            App.footer.getContent('@Url.Action("_MergeContact", "Driver")');
        });
    });
</script>