@model LikeBusLogistic.Web.Models.Drivers.FullInformationVM

<ul uk-tab>
    <li class="@(Model.Tab == DriverTab.Info ? "uk-active" : "")" data-url="@Url.Action("_FullInformation", "Driver", new { tab = DriverTab.Info })"><a href="#">Водители</a></li>
    <li class="@(Model.Tab == DriverTab.Contact ? "uk-active" : "")" data-url="@Url.Action("_FullInformation", "Driver", new { tab = DriverTab.Contact })"><a href="#">Контакты</a></li>
</ul>
<ul class="uk-switcher uk-margin">
    <li data-content-url="@Url.Action("_Information", "Driver")"></li>
    <li data-content-url="@Url.Action("_Contacts", "Driver")"></li>
</ul>

<script>
    App.footer.setBreadcrumbs(null);
    App.geo.clearLocations();
    App.geo.route.clear();
    App.tab.name = 'driver';
</script>