@model InformationVM
@{
    RoleName roleName = (RoleName)ViewBag.RoleName;
    bool isEditable = roleName == RoleName.Administrator || roleName == RoleName.Moderator;
}
<div class="uk-clearfix">
    <div class="uk-float-right">
        @if (isEditable)
        {
            <button class="uk-button uk-button-small uk-button-primary" id="add-driver-button">Добавить</button>
        }
    </div>
</div>
<table class="uk-table uk-table-small uk-table-hover" id="driver-table">
    <thead>
        <tr>
            <th class="uk-hidden@m">ФИО</th>
            <th class="uk-visible@m datatable-default-column">Фамилия</th>
            <th class="uk-visible@m">Имя</th>
            <th class="uk-visible@m">Отчество</th>
            <th>Машина</th>
            @if (isEditable)
            {
                <th class="uk-visible@s datatable-no-sort"></th>
                <th class="uk-hidden@s datatable-no-sort"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var driver in Model.Drivers)
        {
            var show = !driver.IsDeleted && (isEditable);
            <tr data-driver-id="@driver.DriverId"
                class="@(driver.IsDeleted ? "uk-background-muted" : "")">
                <td class="uk-hidden@m">@driver.FullNameWithInitials</td>
                <td class="uk-visible@m">@driver.LastName</td>
                <td class="uk-visible@m">@driver.FirstName</td>
                <td class="uk-visible@m">@driver.MiddleName</td>
                <td class="uk-table-expand">@driver.BusInfo</td>
                @if (isEditable)
                {
                    <td class="uk-visible@s">
                        <div class="tool-cell-2 uk-float-right">
                            @if (show)
                            {
                                @CustomExtensions.HtmlEditIcon("uk-margin-small-right edit-driver-icon")
                            }
                            @if (roleName == RoleName.Administrator)
                            {
                                @CustomExtensions.HtmlDeleteOrRestoreIcon(driver.IsDeleted, "delete-driver-icon")
                            }
                        </div>
                    </td>
                    <td class="uk-hidden@s">
                        <div class="uk-inline">
                            <span uk-icon="more-vertical"></span>
                            <div uk-dropdown="pos: left-center">
                                @if (show)
                                {
                                    @CustomExtensions.HtmlEditIcon("uk-margin-small-right edit-driver-icon")
                                }
                                @if (roleName == RoleName.Administrator)
                                {
                                    @CustomExtensions.HtmlDeleteOrRestoreIcon(driver.IsDeleted, "delete-driver-icon")
                                }
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<script>
    App.footer.setBreadcrumbs(null);
    $(document).ready(function () {
        App.customDataTable('#driver-table');
        $('.edit-driver-icon').click(function () {
            var id = $(this).parents('tr').data('driver-id');
            App.footer.getContent('@Url.Action("_MergeDriver", "Driver")', { driverId: id });
        });
        $('.delete-driver-icon').click(function () {
            var id = $(this).parents('tr').data('driver-id');
            App.postDataOnServer('@Url.Action("DeleteOrRestoreDriver", "Driver")', { driverId: id }, function (result) {
                App.message.showSuccessWithOk('Успешно', result.message || 'Водитель успешно удалена!');
                App.useContentState();
            });
        });
        $('#add-driver-button').click(function () {
            App.footer.getContent('@Url.Action("_MergeDriver", "Driver")');
        });
    });
</script>