@model MergeContactVM


<div class="uk-grid-small" uk-grid id="save-contact-grid">
    <input type="hidden" name="id" value="@Model.Contact?.Id" />

    <div class="uk-margin uk-width-1-1">
        <label class="uk-form-label">Закреплен на машине</label>
        <div class="uk-form-controls">
            <select class="uk-select" name="driverId">
                @foreach (var driver in Model.Drivers)
                {
                    if (driver.DriverId == Model.Contact?.DriverId)
                    {
                        <option value="@driver.DriverId"
                                selected>
                            @($"{driver.LastName} {driver.FirstName} {driver.MiddleName}")
                        </option>
                    }
                    else
                    {
                        <option value="@driver.DriverId">
                            @($"{driver.LastName} {driver.FirstName} {driver.MiddleName}")
                        </option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="uk-margin uk-width-1-1">
        <label class="uk-form-label">Имя</label>
        <div class="uk-form-controls">
            <input class="uk-input" name="contact" type="text" placeholder="Контактные данные..." value="@Model.Contact?.Contact">
        </div>
    </div>

    <div class="uk-margin uk-margin-remove-top uk-margin-remove-top uk-width-1-1">
        <button class="uk-button uk-button-primary uk-float-right" id="save-contact-btn">Сохранить</button>
    </div>
</div>

<script>
    App.footer.setBreadcrumbs([
        { name: 'Водители', url: '@Url.Action("_FullInformation", "Driver")' },
        { name: 'Контакты', url: '@Url.Action("_Contacts", "Driver")' },
        { name: '@(Model.Contact == null ? "Добавить" : "Изменить")', url: '@Url.Action("_Information", "Driver")' }
    ]);

    $('#save-contact-btn').click(function () {
        var data = App.serializeInputsToObject('#save-contact-grid input,select');
        App.postDataOnServer('@Url.Action("MergeContact", "Driver")', data);
    });
</script>