@model MergeContactVM


<div class="uk-grid-small" uk-grid id="save-contact-grid">
    <input type="hidden" name="id" value="@Model.Contact?.Id" />

    <div class="uk-margin uk-width-1-1">
        <label class="uk-form-label">Закреплен на машине</label>
        <div class="uk-form-controls">
            @Model.Drivers.SelectList(
             x => x.DriverId,
             x => $"{x.LastName} {x.FirstName} {x.MiddleName}",
             Model.Contact?.DriverId,
             new { @class = "uk-select", name = "driverId" })
        </div>
    </div>

    <div class="uk-margin uk-width-1-1">
        <label class="uk-form-label">Имя</label>
        <div class="uk-form-controls">
            <input class="uk-input" name="contact" type="text" placeholder="Контактные данные..." value="@Model.Contact?.Contact">
        </div>
    </div>

    <div class="uk-margin uk-margin-remove-top uk-margin-remove-top uk-width-1-1">
        <button class="uk-button uk-button-primary uk-float-right" id="save-contact-btn">Сохранить</button>
    </div>
</div>

<script>
    App.footer.setBreadcrumbs([
        { name: 'Контакты', url: '@Url.Action("_FullInformation", "Driver", new { tab = DriverTab.Contact })' },
        { name: '@(Model.Contact == null ? "Добавить" : "Изменить")', url: '@Url.Action("_Information", "Driver")' }
    ]);

    $('#save-contact-btn').click(function () {
        var data = App.serializeInputsToObject('#save-contact-grid input,select');
        App.postDataOnServer('@Url.Action("MergeContact", "Driver")', data);
    });
</script>