@model LikeBusLogistic.Web.Models.Buses.BusesVM
@{
    RoleName roleName = (RoleName)ViewBag.RoleName;
    bool isEditable = roleName == RoleName.Administrator || roleName == RoleName.Moderator;
}
<div class="uk-clearfix">
    <div class="uk-float-right">
        @if (isEditable)
        {
            <button class="uk-button uk-button-small uk-button-primary" id="add-bus-button">Добавить</button>
        }
    </div>
</div>
<table class="uk-table uk-table-small uk-table-hover" id="buses-table">
    <thead>
        <tr>
            <th>Номер</th>
            <th class="uk-visible@s">Модель</th>
            <th class="uk-table-shrink">Пасс<span class="uk-visible@s">-емкость</span></th>
            <th class="uk-table-shrink"><span class="uk-visible@s">Кол-во </span>Экип<span class="uk-visible@s">ажа</span></th>
            @if (isEditable)
            {
                <th class="uk-visible@s"></th>
                <th class="uk-hidden@s"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var bus in Model.Buses)
        {
            var show = !bus.IsDeleted && (isEditable);
            <tr data-bus-id="@bus.BusId" data-vehicle-id="@bus.VehicleId"
                class="@(bus.IsDeleted ? "uk-background-muted" : "")">
                <td uk-tooltip="@bus.Fullname">@bus.Number</td>
                <td class="uk-visible@s">@bus.Fullname</td>
                <td>@bus.PassengerCapacity</td>
                <td>@bus.CrewCapacity</td>
                @if (isEditable)
                {
                    <td class="uk-visible@s">
                        <div class="tool-cell-2 uk-float-right">
                            @if (show)
                            {
                                @CustomExtensions.HtmlEditIcon("uk-margin-small-right edit-bus-icon")
                            }
                            @if (roleName == RoleName.Administrator)
                            {
                                @CustomExtensions.HtmlDeleteOrRestoreIcon(bus.IsDeleted, "delete-bus-icon")
                            }
                        </div>
                    </td>
                    <td class="uk-hidden@s uk-table-shrink">
                        <div class="uk-inline">
                            <span uk-icon="more-vertical"></span>
                            <div uk-dropdown="pos: left-center">
                                @if (show)
                                {
                                    @CustomExtensions.HtmlEditIcon("uk-margin-small-right edit-bus-icon")
                                }
                                @if (roleName == RoleName.Administrator)
                                {
                                    @CustomExtensions.HtmlDeleteOrRestoreIcon(bus.IsDeleted, "delete-bus-icon")
                                }
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<script>
    App.footer.setBreadcrumbs(null);
    $(document).ready(function () {
        App.customDataTable('#buses-table');
        $('.edit-bus-icon').click(function () {
            var id = $(this).parents('tr').data('bus-id');
            App.footer.getContent('@Url.Action("_MergeBus", "Bus")', { busId: id });
        });
        $('.delete-bus-icon').click(function () {
            var id = $(this).parents('tr').data('bus-id');
            App.postDataOnServer('@Url.Action("DeleteOrRestoreBus", "Bus")', { busId: id }, function (result) {
                App.message.showSuccessWithOk('Успешно', result.message || 'Машина успешно удалена!');
                App.useContentState();
            });
        });
        $('#add-bus-button').click(function () {
            App.footer.getContent('@Url.Action("_MergeBus", "Bus")');
        });
    });
</script>