@model LikeBusLogistic.Web.Models.Buses.BusesVM
@{
    RoleName roleName = (RoleName)ViewBag.RoleName;
}
<div class="uk-clearfix">
    <div class="uk-float-left">
        <h4>Автобусы</h4>
    </div>
    <div class="uk-float-right">
        @if (roleName == RoleName.Administrator || roleName == RoleName.Moderator)
        {
            <button class="uk-button uk-button-small uk-button-primary" id="add-bus-button">Добавить</button>
        }
    </div>
</div>
<table class="uk-table uk-table-small uk-table-hover" id="buses-table">
    <thead>
        <tr>
            <th>Номер</th>
            <th>Модель</th>
            <th class="uk-table-shrink">Пасс-емкость</th>
            <th class="uk-table-shrink">Кол-во экипажа</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bus in Model.Buses)
        {
            <tr data-bus-id="@bus.BusId" data-vehicle-id="@bus.VehicleId">
                <td class="uk-table-shrink">@bus.Number</td>
                <td>@bus.Fullname</td>
                <td>@bus.PassengerCapacity</td>
                <td>@bus.CrewCapacity</td>
                <td class="uk-float-right">
                    @if (roleName == RoleName.Administrator || roleName == RoleName.Moderator)
                    {
                        <span class="uk-text-warning uk-margin-small-right edit-bus-icon" uk-icon="icon: cog;"></span>
                    }
                    @if (roleName == RoleName.Administrator)
                    {
                        <span class="@(bus.IsDeleted ? "uk-text-success" : "uk-text-danger") delete-bus-icon" uk-icon="icon: @(bus.IsDeleted ? "refresh" : "trash");"></span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    app.footer.setBreadcrumbs([{ name: 'Автобусы', url: '@Url.Action("_FullInformation", "Bus")' }, { name: 'Машины', url: '@Url.Action("_Buses","Bus")' }]);
    $(document).ready(function () {
        $('#buses-table').dataTable();
        $('.edit-bus-icon').click(function () {
            var id = $(this).parents('tr').data('bus-id');
            app.footer.getContent('@Url.Action("_MergeBus", "Bus")', { busId: id });
        });
        $('.delete-bus-icon').click(function () {
            var id = $(this).parents('tr').data('bus-id');
            app.postDataOnServer('@Url.Action("DeleteOrRestoreBus", "Bus")', { busId: id }, function (message) {
                app.message.showSuccessWithOk('Успешно', message || 'Машина успешно удалена!');
                app.useContentState();
            });
        });
        $('#add-bus-button').click(function () {
            app.footer.getContent('@Url.Action("_MergeBus", "Bus")');
        });
    });
</script>