@model MergeVehicleVM

<div class="uk-grid-small" uk-grid id="save-vehicle-grid">
    <input type="hidden" name="id" value="@Model.Vehicle?.Id" />
    <div class="uk-margin uk-width-1-1">
        <label class="uk-form-label" for="form-stacked-text">Производитель</label>
        <div class="uk-form-controls">
            <input class="uk-input" name="producer" type="text" placeholder="Производитель..." value="@Model.Vehicle?.Producer">
        </div>
    </div>

    <div class="uk-margin uk-margin-remove-top uk-width-3-4">
        <label class="uk-form-label" for="form-stacked-text">Модель</label>
        <div class="uk-form-controls">
            <input class="uk-input" name="model" type="text" placeholder="Модель..." value="@Model.Vehicle?.Model">
        </div>
    </div>

    <div class="uk-margin uk-margin-remove-top uk-width-1-4">
        <label class="uk-form-label" for="form-stacked-text">Пасс-емкость</label>
        <div class="uk-form-controls">
            <input class="uk-input" name="passengercapacity" type="number" placeholder="Кол-во..."  value="@Model.Vehicle?.PassengerCapacity">
        </div>
    </div>

    <div class="uk-margin uk-margin-remove-top uk-width-1-1">
        <label class="uk-form-label" for="form-stacked-text">Описание</label>
        <textarea class="uk-textarea" name="description" rows="6" placeholder="Описание...">@Model.Vehicle?.Description</textarea>
    </div>

    <div class="uk-margin uk-margin-remove-top uk-margin-remove-top uk-width-1-1">
        <button class="uk-button uk-button-primary uk-float-right" id="save-vehicle-btn">Сохранить</button>
    </div>
</div>

<script>
    App.footer.setBreadcrumbs([
        { name: 'Модели', url: '@Url.Action("_FullInformation", "Bus", new { tab = BusTab.Vehicle })' },
        { name: '@(Model.Vehicle == null ? "Добавить" : "Изменить")', url: '@Url.Action("_MergeVehicle", "Bus")' }
    ]);

    $('#save-vehicle-btn').click(function () {
        var data = App.serializeInputsToObject('#save-vehicle-grid input,textarea');
        App.postDataOnServer('@Url.Action("MergeVehicle", "Bus")', data);
    });
</script>