@model LikeBusLogistic.Web.Models.Buses.VehiclesVM
<div class="uk-clearfix">
    <div class="uk-float-left">
        <h4>Модели</h4>
    </div>
    <div class="uk-float-right">
        <button class="uk-button uk-button-small uk-button-primary" id="add-vehicle-button">Добавить</button>
    </div>
</div>
<table class="uk-table uk-table-small uk-table-hover" id="vehicles-table">
    <thead>
        <tr>
            <th>Производитель</th>
            <th>Модель</th>
            <th class="uk-table-shrink">Пасс-емкость</th>
            <th>Описание</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model.Vehicles)
        {
            <tr data-vehicle-id="@vehicle.Id">
                <td>@vehicle.Producer</td>
                <td>@vehicle.Model</td>
                <td class="uk-table-shrink">@vehicle.PassengerCapacity</td>
                <td class="uk-text-truncate">@vehicle.Description</td>
                <td class="uk-float-right">
                    <span class="uk-text-warning" id="edit-vehicle-icon" uk-icon="icon: cog;"></span>
                    <span class="uk-text-danger" id="delete-vehicle-icon" uk-icon="icon: trash;"></span>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    app.footer.setBreadcrumbs([{ name: 'Автобусы', url: '@Url.Action("_FullInformation","Bus")' }, { name: 'Модели', url: '@Url.Action("_Vehicles","Bus")' }]);
    $(document).ready(function () {
        $('#vehicles-table').dataTable();
        $('#add-vehicle-button').click(function () {
            app.footer.getContent('@Url.Action("_MergeVehicle", "Bus")');
        });
    });
</script>