@model LikeBusLogistic.Web.Models.Buses.VehiclesVM
@{
    RoleName roleName = (RoleName)ViewBag.RoleName;
}
<div class="uk-clearfix">
    <div class="uk-float-left">
        <h4>Модели</h4>
    </div>
    <div class="uk-float-right">
        @if (roleName == RoleName.Administrator || roleName == RoleName.Moderator)
        {
            <button class="uk-button uk-button-small uk-button-primary" id="add-vehicle-button">Добавить</button>
        }
    </div>
</div>
<table class="uk-table uk-table-small uk-table-hover" id="vehicles-table">
    <thead>
        <tr>
            <th>Производитель</th>
            <th>Модель</th>
            <th class="uk-table-shrink">Пасс-емкость</th>
            <th>Описание</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model.Vehicles)
        {
            <tr data-vehicle-id="@vehicle.Id">
                <td>@vehicle.Producer</td>
                <td>@vehicle.Model</td>
                <td class="uk-table-shrink">@vehicle.PassengerCapacity</td>
                <td class="uk-text-truncate">@vehicle.Description</td>
                <td class="uk-float-right">
                    @if (roleName == RoleName.Administrator || roleName == RoleName.Moderator)
                    {
                        @CustomExtensions.HtmlEditIcon("uk-margin-small-right edit-vehicle-icon")
                    }
                    @if (roleName == RoleName.Administrator)
                    {
                        @CustomExtensions.HtmlDeleteOrRestoreIcon(vehicle.IsDeleted, "delete-vehicle-icon")
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    App.footer.setBreadcrumbs([{ name: 'Автобусы', url: '@Url.Action("_FullInformation", "Bus")' }, { name: 'Модели', url: '@Url.Action("_Vehicles","Bus")' }]);
    $(document).ready(function () {
        $('#vehicles-table').dataTable();
        $('.edit-vehicle-icon').click(function () {
            var id = $(this).parents('tr').data('vehicle-id');
            App.footer.getContent('@Url.Action("_MergeVehicle", "Bus")', {vehicleId: id });
        });
        $('.delete-vehicle-icon').click(function () {
            var id = $(this).parents('tr').data('vehicle-id');
            App.postDataOnServer('@Url.Action("DeleteOrRestoreVehicle", "Bus")', { vehicleId: id }, function (message) {
                App.message.showSuccessWithOk('Успешно', message || 'Модель успешно удалена!');
                App.useContentState();
            });
        });
        $('#add-vehicle-button').click(function () {
            App.footer.getContent('@Url.Action("_MergeVehicle", "Bus")');
        });
    });
</script>