@model ScheduleInfoVM
@{
    bool isPrint = Model.IsPrint;
    double totalDistance = 0;
    if (isPrint)
    {
        Layout = "_PrintLayout";
    }
}
<div class="uk-margin-small-top" uk-grid>

    @if (!isPrint)
    {
        <div class="uk-width-1-1 uk-margin-large-top">
            <ul class="uk-iconnav uk-float-right">
                <li><a id="print-icon" href="#" class="uk-text-primary" uk-icon="icon: print; ratio: 1.5;"></a></li>
                @*<li><a id="download-icon" href="#" class="uk-text-primary" uk-icon="icon: download; ratio: 1.5;"></a></li>*@
            </ul>
        </div>
    }

    <div class="uk-form-horizontal uk-margin-small-top uk-width-1-2">
        <label class="uk-form-label" for="schedule-name">Расписание</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-blank" id="schedule-name" type="text" value="@Model.Schedule.Name" disabled>
        </div>
    </div>

    <div class="uk-form-horizontal uk-margin-small-top uk-width-1-2">
        <label class="uk-form-label" for="route-name">Маршрут</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-blank" id="route-name" type="text" value="@Model.Schedule.RouteName" disabled>
        </div>
    </div>

    <div class="uk-form-horizontal uk-margin-small-top uk-width-1-2">
        <label class="uk-form-label" for="departure-time">Выезд</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-blank"
                   id="departure-time"
                   type="text"
                   value="@Model.First.DepartureTime?.ToString(@"hh\:mm")"
                   disabled>
        </div>
    </div>

    <div class="uk-form-horizontal uk-margin-small-top uk-width-1-2">
        <label class="uk-form-label" for="arrival-time">Прибытие</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-blank"
                   id="arrival-time"
                   type="text"
                   value="@Model.Last.ArrivalTime?.ToString(@"hh\:mm")"
                   disabled>
        </div>
    </div>

    <div class="uk-form-horizontal uk-margin-small-top uk-width-1-2">
        <label class="uk-form-label" for="total-time">Продолжительность</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-blank" id="total-time" type="text" value="@($"{Model.TotalTime.Hours}ч. {Model.TotalTime.Minutes}мин.")" disabled>
        </div>
    </div>

    <div class="uk-form-horizontal uk-margin-small-top uk-width-1-2">
        <label class="uk-form-label" for="total-distance">Расстояние</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-blank" id="total-distance" type="text" value="@Model.TotalDistance км." disabled>
        </div>
    </div>

</div>

<div class="uk-grid-small uk-text-center" uk-grid>
    <div class="@(isPrint ? "uk-width-expand" : "uk-width-expand@s uk-visible@s")">
        <label class="uk-form-label">Локация</label>
    </div>
    <div class="@(isPrint ? "uk-width-1-6" : "uk-width-1-6@s uk-width-1-3")">
        <label class="uk-form-label">Прибытие</label>
    </div>
    <div class="@(isPrint ? "uk-width-1-6" : "uk-width-1-6@s uk-width-1-3")">
        <label class="uk-form-label">Остановка<span class="uk-visible@m"> (мин.)</span></label>
    </div>
    <div class="@(isPrint ? "uk-width-1-6" : "uk-width-1-6@s uk-width-1-3")">
        <label class="uk-form-label">Отправление</label>
    </div>
    <div class="@(isPrint ? "uk-width-1-6" : "uk-width-1-6@s uk-visible@s")">
        <label class="uk-form-label">Расстояние<span class="uk-visible@m"> (км.)</span></label>
    </div>
</div>
<hr />
@foreach (var scheduleRouteLocation in Model.ScheduleRouteLocations)
{
    totalDistance += scheduleRouteLocation.Distance;
    var fullName = scheduleRouteLocation.LocationFullName ?? scheduleRouteLocation.RouteLocationFullName;
    <div class="uk-grid-small location-table" uk-grid>
        @if (!isPrint)
        {
            <div class="uk-width-1-6@s uk-hidden@s uk-text-center">
                <p class="uk-text-muted uk-text-small uk-link" uk-tooltip="@fullName">
                    @(scheduleRouteLocation.LocationName ?? scheduleRouteLocation.CityName ?? scheduleRouteLocation.LocationFullName)
                    @(totalDistance)км.
                </p>
            </div>
        }
        <div class="@(isPrint ? "uk-width-expand" : "uk-width-expand uk-visible@s")">
            <input class="uk-input uk-form-small"
                   name="routeLocation"
                   data-route-location-id="@scheduleRouteLocation.RouteLocationId"
                   type="text"
                   value="@(scheduleRouteLocation.LocationFullName ?? scheduleRouteLocation.RouteLocationFullName)"
                   disabled>
        </div>
        <div class="@(isPrint ? "uk-width-1-6" : "uk-width-1-6@s uk-width-1-3") uk-flex uk-flex-inline">
            <input class="uk-input uk-form-small timepicker"
                   type="text"
                   name="arrivalTime"
                   value="@scheduleRouteLocation.ArrivalTime?.ToString(@"hh\:mm")"
                   placeholder=""
                   disabled>
        </div>
        <div class="@(isPrint ? "uk-width-1-6" : "uk-width-1-6@s  uk-width-1-3")">
            <input class="uk-input uk-form-small stop-duration" type="text" placeholder="" disabled>
        </div>
        <div class="@(isPrint ? "uk-width-1-6" : "uk-width-1-6@s uk-width-1-3") uk-flex uk-flex-inline">
            <input class="uk-input uk-form-small timepicker"
                   type="text"
                   value="@scheduleRouteLocation.DepartureTime?.ToString(@"hh\:mm")"
                   placeholder=""
                   name="departureTime"
                   disabled>
        </div>
        <div class="@(isPrint ? "uk-width-1-6" : "uk-width-1-6@s uk-visible@s")">
            <input class="uk-input uk-form-small" type="number" step="1" value="@totalDistance" placeholder="" disabled>
        </div>
    </div>
    <hr />
}

<script>
    $(document).ready(function () {
        $('div.time_pick').css({ width: '-webkit-fill-available' });
        function diff(start, end) {
            start = start.split(":");
            end = end.split(":");
            var startDate = new Date(0, 0, 0, start[0], start[1], 0);
            var endDate = new Date(0, 0, 0, end[0], end[1], 0);
            var diff = endDate.getTime() - startDate.getTime();
            if (diff == null || isNaN(diff)) {
                return null;
            } else {
                diff = diff / 60000;
                return diff < 0 ? diff + 1440 : diff
            }
        }
        $('.location-table').each(function (i, e) {
            let grid = $(e);
            arrival = grid.find('input[name="arrivalTime"]').val();
            departure = grid.find('input[name="departureTime"]').val();
            let minutes = diff(arrival, departure);
            if (minutes != null && !isNaN(minutes)) {
                grid.find('input.stop-duration').val(minutes);
            } else {
                grid.find('input.stop-duration').val(null);
            }
        });
        $('#print-icon').click(function () {
            var winPrint = window.open('@Url.Action("_ScheduleInfo","Schedule", new { scheduleId = Model.Schedule.Id })&isPrint=true');
            winPrint.document.close();
            winPrint.focus();
            winPrint.print();
        });
        $('#download-icon').click(function () {

        });
    });
</script>
