@model IEnumerable<DistrictVM>
@{
    RoleName roleName = (RoleName)ViewBag.RoleName;
}
<div class="uk-clearfix">
    <div class="uk-float-left">
        <h4>Регионы</h4>
    </div>
    <div class="uk-float-right">
        @if (roleName == RoleName.Administrator || roleName == RoleName.Moderator)
        {
            <button class="uk-button uk-button-small uk-button-primary" id="add-district-button">Добавить</button>
        }
    </div>
</div>
<table class="uk-table uk-table-small uk-table-hover" id="districts-table">
    <thead>
        <tr>
            <th>Регион</th>
            <th>Страна</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var district in Model)
        {
            <tr data-district-id="@district.Id" data-country-id="@district.CountryId">
                <td>@district.Name</td>
                <td>@district.CountryName</td>
                <td class="uk-float-right tool-cell-2">
                    @if (roleName == RoleName.Administrator || roleName == RoleName.Moderator)
                    {
                        @CustomExtensions.HtmlEditIcon("uk-margin-small-right edit-district-icon")
                    }
                    @if (roleName == RoleName.Administrator)
                    {
                        @CustomExtensions.HtmlDeleteOrRestoreIcon(district.IsDeleted, "delete-district-icon")
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        App.customDataTable('#districts-table');
        $('.edit-district-icon').click(function () {
            var id = $(this).parents('tr').data('district-id');
            App.footer.getContent('@Url.Action("_MergeDistrict", "Geolocation")', { id: id });
        });
        $('.delete-district-icon').click(function () {
            var id = $(this).parents('tr').data('district-id');
            App.postDataOnServer('@Url.Action("DeleteOrRestoreDistrict", "Geolocation")', { id: id }, function (result) {
                App.message.showSuccessWithOk('Успешно', result.message || 'Регион успешно удалена!');
                App.footer.getContent('@Url.Action("_FullInformation", "Geolocation", new { tab = GeolocationTab.Districts })');
            });
        });
        $('#add-district-button').click(function () {
            App.footer.getContent('@Url.Action("_MergeDistrict", "Geolocation")');
        });
    });
</script>