@model IEnumerable<DistrictVM>
@{
    RoleName roleName = (RoleName)ViewBag.RoleName;
    bool isEditable = roleName == RoleName.Administrator || roleName == RoleName.Moderator;
}
<div class="uk-clearfix">
    <div class="uk-float-right">
        @if (isEditable)
        {
            <button class="uk-button uk-button-small uk-button-primary" id="add-district-button">Добавить</button>
        }
    </div>
</div>
<table class="uk-table uk-table-small uk-table-hover" id="districts-table">
    <thead>
        <tr>
            <th>Регион</th>
            <th>Страна</th>
            @if (isEditable)
            {
                <th class="uk-visible@s datatable-no-sort"></th>
                <th class="uk-hidden@s datatable-no-sort"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var district in Model)
        {
            var show = !district.IsDeleted && (isEditable);
            <tr data-district-id="@district.Id" data-country-id="@district.CountryId"
                class="@(district.IsDeleted ? "uk-background-muted" : "")">
                <td>@district.Name</td>
                <td>@district.CountryName</td>
                @if (isEditable)
                {
                    <td class="uk-visible@s">
                        <div class="tool-cell-2 uk-float-right" )>
                            @if (show)
                            {
                                @CustomExtensions.HtmlEditIcon("uk-margin-small-right edit-district-icon")
                            }
                            @if (roleName == RoleName.Administrator)
                            {
                                @CustomExtensions.HtmlDeleteOrRestoreIcon(district.IsDeleted, "delete-district-icon")
                            }
                        </div>
                    </td>
                    <td class="uk-hidden@s">
                        <div class="uk-inline">
                            <span uk-icon="more-vertical"></span>
                            <div uk-dropdown="pos: left-center">
                                @if (show)
                                {
                                    @CustomExtensions.HtmlEditIcon("uk-margin-small-right edit-district-icon")
                                }
                                @if (roleName == RoleName.Administrator)
                                {
                                    @CustomExtensions.HtmlDeleteOrRestoreIcon(district.IsDeleted, "delete-district-icon")
                                }
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        App.customDataTable('#districts-table');
        $('.edit-district-icon').click(function () {
            var id = $(this).parents('tr').data('district-id');
            App.footer.getContent('@Url.Action("_MergeDistrict", "Geolocation")', { id: id });
        });
        $('.delete-district-icon').click(function () {
            var id = $(this).parents('tr').data('district-id');
            App.postDataOnServer('@Url.Action("DeleteOrRestoreDistrict", "Geolocation")', { id: id }, function (result) {
                App.message.showSuccessWithOk('Успешно', result.message || 'Регион успешно удалена!');
                App.footer.getContent('@Url.Action("_FullInformation", "Geolocation", new { tab = GeolocationTab.Districts })');
            });
        });
        $('#add-district-button').click(function () {
            App.footer.getContent('@Url.Action("_MergeDistrict", "Geolocation")');
        });
    });
</script>