@model IEnumerable<LikeBusLogistic.VM.ViewModels.LocationVM>
@{
    RoleName roleName = (RoleName)ViewBag.RoleName;
}
<div class="uk-clearfix">
    <div class="uk-float-left">
        <h4>Локации</h4>
    </div>
</div>
<table class="uk-table uk-table-small uk-table-hover" id="locations-table">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Долгота</th>
            <th>Широта</th>
            <th>Город</th>
            <th>Регион</th>
            <th>Страна</th>
            <th>Парковка</th>
            <th>Ремонт</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var location in Model)
        {
            <tr data-location-id="@location.Id"
                data-city-id="@location.CityId"
                data-district-id="@location.DistrictId"
                data-country-id="@location.CountryId">
                <td class="uk-link uk-text-bolder uk-text-secondary go-to-location">@location.Name</td>
                <td class="uk-text-truncate">@location.Longtitude</td>
                <td class="uk-text-truncate">@location.Latitude</td>
                <td>@location.CityName</td>
                <td>@location.DistrictName</td>
                <td>@location.CountryName</td>
                <td class="uk-table-shrink">@(location.IsParking ? CustomExtensions.HtmlEnabledIcon : CustomExtensions.HtmlDisabledIcon)</td>
                <td class="uk-table-shrink">@(location.IsCarRepair ? CustomExtensions.HtmlEnabledIcon : CustomExtensions.HtmlDisabledIcon)</td>
                <td class="uk-float-right">
                    @if (roleName == RoleName.Administrator || roleName == RoleName.Moderator)
                    {
                        @CustomExtensions.HtmlEditIcon("uk-margin-small-right edit-location-icon")
                    }
                    @if (roleName == RoleName.Administrator)
                    {
                        @CustomExtensions.HtmlDeleteOrRestoreIcon(location.IsDeleted, "delete-location-icon")
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#locations-table').dataTable();
        $('.go-to-location').click(function () {
            var id = $(this).parents('tr').data('location-id');
            for	(var i = 0; i < App.geo.locations.length; i++)
            {
            	if(App.geo.locations[i].data.id === id)
                {
                    let location = App.geo.locations[i];
                    if (!location.marker.isPopupOpen()) {
                        location.marker.fire('click');
                    }
                    App.map.setView([location.data.latitude, location.data.longtitude], App.geo.getZoomToView());
                    App.footer.show();
            		break;
                }
            }
        });
    });
</script>