@model IEnumerable<LikeBusLogistic.VM.ViewModels.LocationVM>
@{
    RoleName roleName = (RoleName)ViewBag.RoleName;
}
<div class="uk-clearfix">
    <div class="uk-float-left">
        <h4>Локации</h4>
    </div>
</div>
<table class="uk-table uk-table-small uk-table-hover" id="locations-table">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Долгота</th>
            <th>Широта</th>
            <th>Город</th>
            <th>Регион</th>
            <th>Страна</th>
            <th>Парковка</th>
            <th>Ремонт</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var location in Model)
        {
            <tr data-location-id="@location.Id"
                data-city-id="@location.CityId"
                data-district-id="@location.DistrictId"
                data-country-id="@location.CountryId">
                <td>@location.Name</td>
                <td class="uk-text-truncate">@location.Longtitude</td>
                <td class="uk-text-truncate">@location.Latitude</td>
                <td>@location.CityName</td>
                <td>@location.DistrictName</td>
                <td>@location.CountryName</td>
                <td class="uk-table-shrink">@(location.IsParking ? CustomExtensions.HtmlEnabledIcon : CustomExtensions.HtmlDisabledIcon)</td>
                <td class="uk-table-shrink">@(location.IsCarRepair ? CustomExtensions.HtmlEnabledIcon : CustomExtensions.HtmlDisabledIcon)</td>
                <td class="uk-float-right">
                    @if (roleName == RoleName.Administrator || roleName == RoleName.Moderator)
                    {
                        @CustomExtensions.HtmlEditIcon("uk-margin-small-right edit-location-icon")
                    }
                    @if (roleName == RoleName.Administrator)
                    {
                        @CustomExtensions.HtmlDeleteOrRestoreIcon(location.IsDeleted, "delete-location-icon")
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#locations-table').dataTable();
        $('.edit-location-icon').click(function () {
            var id = $(this).parents('tr').data('location-id');
            App.loadContent('#current-location-card', '@Url.Action("_Location", "Geolocation")', { id: id });
            App.map.off('mousemove');
            App.map.off('click');
        });
        $('.delete-location-icon').click(function () {
            var id = $(this).parents('tr').data('location-id');
            App.postDataOnServer('@Url.Action("DeleteOrRestoreLocation", "Geolocation")', { id: id }, function (result) {
                App.message.showSuccessWithOk('Успешно', result.message || 'Локация успешно удалена!');
                App.footer.getContent('@Url.Action("_FullInformation", "Geolocation", new { tab = GeolocationTab.Locations })');
            });
        });
    });
</script>